## Importing Data

In [2]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [3]:
from fastai.structured import *
from fastai.column_data import *

/home/aryan/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.ensemble.forest module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)

In [4]:
PATH='data/rossman/'

In [5]:
table_names = ['train', 'store', 'store_states', 'state_names', 
               'googletrend', 'weather', 'test']

In [6]:
table = [pd.read_csv(f'{PATH}{name}.csv') for name in table_names]

/home/aryan/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [7]:
table_names

['train',
 'store',
 'store_states',
 'state_names',
 'googletrend',
 'weather',
 'test']

In [8]:
train,store,store_states,state_names,googletrend,weather,test = table

In [9]:
def display_all(df):
    with pd.option_context("display.max_rows", 100000, "display.max_columns", 100000): 
        display(df)

In [31]:
def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", suffix))

In [11]:
for t in table: display(t.head())

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [12]:
add_datepart(train, "Date", drop=False)
add_datepart(test, "Date", drop=False)

## Delaing with Store Metadata

In [13]:
store['PromoInterval'].unique()

array([nan, 'Jan,Apr,Jul,Oct', 'Feb,May,Aug,Nov', 'Mar,Jun,Sept,Dec'], dtype=object)

In [14]:
di={np.nan:0, 'Jan,Apr,Jul,Oct':1, 'Feb,May,Aug,Nov':2, 'Mar,Jun,Sept,Dec':3}

In [15]:
store.PromoInterval=store.PromoInterval.map(di)

In [16]:
store.CompetitionDistance.fillna(100000,inplace=True)

In [17]:
store.fillna(0,inplace=True)

In [18]:
store

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,1
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,1
3,4,c,c,620.0,9.0,2009.0,0,0.0,0.0,0
4,5,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,1
1111,1112,c,c,1880.0,4.0,2006.0,0,0.0,0.0,0
1112,1113,a,c,9260.0,0.0,0.0,0,0.0,0.0,0
1113,1114,a,c,870.0,0.0,0.0,0,0.0,0.0,0
1114,1115,d,c,5350.0,0.0,0.0,1,22.0,2012.0,3

In [19]:
def enc(df,cols):
    for col in cols:
        dec={}
        c=df[col].unique()
        for x in range(0,len(c)):
            dec[c[x]]=x
        df[col]=df[col].map(dec)

In [20]:
enc(store,['StoreType','Assortment'])

In [21]:
joined=join_df(train,store_states,'Store')
joined_test=join_df(test,store_states,'Store')

In [22]:
joined=join_df(joined,store,'Store')
joined_test=join_df(joined_test,store,'Store')

In [23]:
for df in joined,joined_test:
    df.loc[df['CompetitionOpenSinceYear']==0,"CompetitionOpenSinceYear"]=1900
    df.loc[df['CompetitionOpenSinceMonth']==0,"CompetitionOpenSinceMonth"]=1
    df.CompetitionOpenSinceYear=df.CompetitionOpenSinceYear.astype(np.int32)
    df.CompetitionOpenSinceMonth=df.CompetitionOpenSinceMonth.astype(np.int32)
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear,month=df.CompetitionOpenSinceMonth, day=15))
    df['CompetitionDaysOpen']=df.Date.subtract(df.CompetitionOpenSince).dt.days
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0
    df["CompetitionMonthsOpen"] = df["CompetitionDaysOpen"]//30
    df.loc[df.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24

In [24]:
for df in joined,joined_test:
    df.loc[df.Promo2SinceYear==0,'Promo2SinceYear']=1990
    df.loc[df.Promo2SinceWeek==0,'Promo2SinceWeek']=1   
    df.Promo2SinceYear=df.Promo2SinceYear.astype(np.int32)
    df.Promo2SinceWeek=df.Promo2SinceWeek.astype(np.int32)
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1))
    df["Promo2Days"] = df.Date.subtract(df["Promo2Since"]).dt.days
    df.loc[df.Promo2Days<0, "Promo2Days"] = 0
    df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
    df["Promo2Weeks"] = df["Promo2Days"]//7
    df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
    df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25

## Dealing with Googletrend Metadata

In [25]:
googletrend

                file                     week  trend
0     Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1     Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2     Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3     Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4     Rossmann_DE_SN  2012-12-30 - 2013-01-05     67
...              ...                      ...    ...
2067  Rossmann_DE_SL  2015-08-30 - 2015-09-05     95
2068  Rossmann_DE_SL  2015-09-06 - 2015-09-12     47
2069  Rossmann_DE_SL  2015-09-13 - 2015-09-19     80
2070  Rossmann_DE_SL  2015-09-20 - 2015-09-26     57
2071  Rossmann_DE_SL  2015-09-27 - 2015-10-03      0

[2072 rows x 3 columns]

In [26]:
googletrend['Date']=googletrend.week.str.split(" - ",expand=True)[0]

In [27]:
add_datepart(googletrend,'Date')

In [28]:
googletrend.drop(['week'],axis=1,inplace=True)

In [29]:
googletrend['State']=googletrend.file.str.split("_",expand=True)[2]

In [30]:
googletrend.State.unique()

array(['SN', None, 'BY', 'TH', 'NW', 'BE', 'RP', 'BW', 'NI', 'SH', 'HE', 'ST', 'HH', 'SL'], dtype=object)

In [31]:
store_states.State.unique()

array(['HE', 'TH', 'NW', 'BE', 'SN', 'SH', 'HB,NI', 'BY', 'BW', 'RP', 'ST', 'HH'], dtype=object)

Therefore we will Replace NI with HB,NI in Googletrend State column

In [32]:
googletrend.loc[googletrend.State=='NI','State']='HB,NI'

In [33]:
googletrend=googletrend[['trend','file','Week','Year','State']]

Googletrends for Germany Stores may act as a special feature, so we extract it explicitly

In [34]:
trend_de=googletrend[googletrend.file=='Rossmann_DE'].copy()

In [35]:
googletrend.drop('file',axis=1,inplace=True)
trend_de.drop(['State','file'],axis=1,inplace=True)

/home/aryan/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [36]:
joined=join_df(joined,googletrend,['State','Year','Week'])
joined_test=join_df(joined_test,googletrend,['State','Year','Week'])

In [37]:
trend_de.rename(columns={"trend": "trend_de"},inplace=True)

In [38]:
joined=join_df(joined,trend_de,['Year','Week'])
joined_test=join_df(joined_test,trend_de,['Year','Week'])

## Dealing with Weather Metadata:

In [39]:
state_names

                StateName  State
0       BadenWuerttemberg     BW
1                  Bayern     BY
2                  Berlin     BE
3             Brandenburg     BB
4                  Bremen     HB
5                 Hamburg     HH
6                  Hessen     HE
7   MecklenburgVorpommern     MV
8           Niedersachsen  HB,NI
9      NordrheinWestfalen     NW
10         RheinlandPfalz     RP
11               Saarland     SL
12                Sachsen     SN
13          SachsenAnhalt     ST
14      SchleswigHolstein     SH
15             Thueringen     TH

In [40]:
weather_1 = join_df(weather,state_names,left_on='file',right_on='StateName')

In [41]:
weather_1.drop(['file','StateName'],axis=1,inplace=True)

In [42]:
weather_1.isnull().sum()

Date                              0
Max_TemperatureC                  0
Mean_TemperatureC                 0
Min_TemperatureC                  0
Dew_PointC                        0
MeanDew_PointC                    0
Min_DewpointC                     0
Max_Humidity                      0
Mean_Humidity                     0
Min_Humidity                      0
Max_Sea_Level_PressurehPa         0
Mean_Sea_Level_PressurehPa        0
Min_Sea_Level_PressurehPa         0
Max_VisibilityKm                381
Mean_VisibilityKm               381
Min_VisibilitykM                381
Max_Wind_SpeedKm_h                0
Mean_Wind_SpeedKm_h               0
Max_Gust_SpeedKm_h            12236
Precipitationmm                   0
CloudCover                     1173
Events                         3951
WindDirDegrees                    0
State                             0
dtype: int64

In [43]:
weather_1.Max_Gust_SpeedKm_h.fillna(np.ceil(weather_1.Max_Gust_SpeedKm_h.mean()),inplace=True)

In [44]:
w = ['Max_VisibilityKm','Mean_VisibilityKm','Min_VisibilitykM']
for col in w:
    weather_1[col]=weather_1[col].fillna(weather_1[col].mean())

In [45]:
weather_1.CloudCover.fillna(8,inplace=True)

In [46]:
enc(weather_1,['Events'])

In [47]:
weather_1.CloudCover=weather_1.CloudCover.fillna(8)

In [48]:
weather_1.Date=pd.to_datetime(weather_1.Date)

In [49]:
add_datepart(weather_1, "Date", drop=False)

In [50]:
joined=join_df(joined, weather_1, ["State","Date"])
joined_test=join_df(joined_test, weather_1, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()]),len(joined_test[joined_test.Mean_TemperatureC.isnull()])

(0, 0)

## Cleaning train and test dataframes:

In [51]:
di_state_holiday = {'0':0,'a':1,'b':2,'c':3}
joined.StateHoliday = joined.StateHoliday.map(di_state_holiday)
joined_test.StateHoliday = joined_test.StateHoliday.map(di_state_holiday)

In [52]:
joined.drop("Dayofweek",axis=1,inplace=True)
joined_test.drop("Dayofweek",axis=1,inplace=True)

In [53]:
joined.isnull().sum()

Store                 0
DayOfWeek             0
Date                  0
Sales                 0
Customers             0
                     ..
Is_quarter_end_y      0
Is_quarter_start_y    0
Is_year_end_y         0
Is_year_start_y       0
Elapsed_y             0
Length: 74, dtype: int64

In [54]:
joined.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'Dayofyear', 'Is_month_end', 'Is_month_start', 'Is_quarter_end',
       'Is_quarter_start', 'Is_year_end', 'Is_year_start', 'Elapsed', 'State',
       'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval',
       'CompetitionOpenSince', 'CompetitionDaysOpen', 'CompetitionMonthsOpen',
       'Promo2Since', 'Promo2Days', 'Promo2Weeks', 'trend', 'trend_de',
       'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
       'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_PressurehPa',
       'Mean_Sea_Level_PressurehPa', 'Min_Sea_Level_PressurehPa',
       'Max_VisibilityKm', 'Mean_VisibilityKm', 'Min_VisibilitykM',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'Max_Gust_SpeedKm_h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees', 'Year_y',
       'Month_y', 'Week_y', 'Day_y', 'Dayofweek_y', 'Dayofyear_y',
       'Is_month_end_y', 'Is_month_start_y', 'Is_quarter_end_y',
       'Is_quarter_start_y', 'Is_year_end_y', 'Is_year_start_y', 'Elapsed_y'],
      dtype='object')

In [55]:
l=[]
for c in joined.columns:
    if str(c).endswith('_y'):
        l.append(c)

for df in joined,joined_test:
    df.drop(l,1,inplace=True)

In [56]:
joined.StateHoliday.value_counts()

0.0    855087
1.0     20260
2.0      6690
3.0      4100
Name: StateHoliday, dtype: int64

In [57]:
for df in joined,joined_test:
    df.StateHoliday.fillna(0,inplace=True)

In [58]:
joined.dtypes

Store                          int64
DayOfWeek                      int64
Date                  datetime64[ns]
Sales                          int64
Customers                      int64
                           ...
Max_Gust_SpeedKm_h           float64
Precipitationmm              float64
CloudCover                   float64
Events                         int64
WindDirDegrees                 int64
Length: 61, dtype: object

In [ ]:
joined.to_feather(f'{PATH}ffjoined1')
joined_test.to_feather(f'{PATH}ffjoined_test1')

In [9]:
df=pd.read_feather(f'{PATH}ffjoined1')
df_test=pd.read_feather(f'{PATH}ffjoined1')

In [10]:
columns=['Date','Store','SchoolHoliday','StateHoliday','Promo']

In [11]:
df2 = df[columns].append(df_test[columns])

In [12]:
df2.head()

        Date  Store  SchoolHoliday  StateHoliday  Promo
0 2015-07-31      1              1           0.0      1
1 2015-07-31      2              1           0.0      1
2 2015-07-31      3              1           0.0      1
3 2015-07-31      4              1           0.0      1
4 2015-07-31      5              1           0.0      1

In [13]:
df.StateHoliday.unique()

array([0., 1., 2., 3.])

In [14]:
def get_elapsed(fld,pre):
    day1 = np.timedelta64(1, 'D')
    last_date = np.datetime64()
    last_store = 0
    res = []

    for s,v,d in zip(df2.Store.values,df2[fld].values, df2.Date.values):
        if s != last_store:
            last_date = np.datetime64()
            last_store = s
        if v: last_date = d
        res.append(((d-last_date).astype('timedelta64[D]') / day1))
    df2[pre+fld] = res

In [15]:
fld='SchoolHoliday'
df2=df2.sort_values(['Store','Date'])
get_elapsed(fld,'After')
df2=df2.sort_values(['Store','Date'],ascending=[True,False])
get_elapsed(fld,'before')

In [16]:
fld='StateHoliday'
df2=df2.sort_values(['Store','Date'])
get_elapsed(fld,'After')
df2=df2.sort_values(['Store','Date'],ascending=[True,False])
get_elapsed(fld,'before')

In [17]:
fld='Promo'
df2=df2.sort_values(['Store','Date'])
get_elapsed(fld,'After')
df2=df2.sort_values(['Store','Date'],ascending=[True,False])
get_elapsed(fld,'before')

In [18]:
columns=["Promo","SchoolHoliday","StateHoliday"]

In [19]:
df2.head()

,Date,Store,SchoolHoliday,StateHoliday,Promo,AfterSchoolHoliday,beforeSchoolHoliday,AfterStateHoliday,beforeStateHoliday,AfterPromo,beforePromo
0,2015-07-31,1,1,0.0,1,0.0,0.0,57.0,NaN,0.0,0.0
0,2015-07-31,1,1,0.0,1,0.0,0.0,57.0,NaN,0.0,0.0
1115,2015-07-30,1,1,0.0,1,0.0,0.0,56.0,NaN,0.0,0.0
1115,2015-07-30,1,1,0.0,1,0.0,0.0,56.0,NaN,0.0,0.0
2230,2015-07-29,1,1,0.0,1,0.0,0.0,55.0,NaN,0.0,0.0

In [20]:
columns

['Promo', 'SchoolHoliday', 'StateHoliday']

In [21]:
df2 = df2.set_index("Date")

In [22]:
for a in ('before',"After"):
    for c in columns:
        o=a+c
        df2[o]=df2[o].fillna(0).astype(int)

Now we will make use of the rolling function in order to calculate th moving averages for a week(7 Days) for the columns defined above.

In [23]:
bwd=df2[['Store']+columns].sort_index().groupby('Store').rolling(7,min_periods=1).sum()

In [24]:
fwd=df2[['Store']+columns].sort_index(ascending=False).groupby('Store').rolling(7,min_periods=1).sum()

In [25]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

df2.reset_index(inplace=True)

In [26]:
df2=df2.merge(bwd,'left',['Date','Store'],suffixes=['', '_bw'])
df2=df2.merge(fwd,'left',['Date','Store'],suffixes=['', '_fw'])

In [28]:
df2.drop(columns,1,inplace=True)

In [128]:
df2.to_feather(f'{PATH}df2')

In [29]:
df2["Date"] = pd.to_datetime(df2.Date)

In [32]:
df=join_df(df,df2,['Store','Date'])

In [ ]:
df_test = join_df(df_test,df2,['Store','Date'])

,Date,Id,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,...,AfterStateHoliday,beforeStateHoliday,AfterPromo,beforePromo,Promo_bw,SchoolHoliday_bw,StateHoliday_bw,Promo_fw,SchoolHoliday_fw,StateHoliday_fw
0,2015-09-17,1,1,4,1.0,1,0.0,0,2015,9,...,0,0,0,0,7.0,0.0,0.0,1.0,0.0,0.0
1,2015-09-17,1,1,4,1.0,1,0.0,0,2015,9,...,0,0,0,0,7.0,0.0,0.0,2.0,0.0,0.0
2,2015-09-17,1,1,4,1.0,1,0.0,0,2015,9,...,0,0,0,0,7.0,0.0,0.0,1.0,0.0,0.0
3,2015-09-17,1,1,4,1.0,1,0.0,0,2015,9,...,0,0,0,0,7.0,0.0,0.0,2.0,0.0,0.0
4,2015-09-17,1,1,4,1.0,1,0.0,0,2015,9,...,0,0,0,0,7.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328699,2015-08-01,41088,1115,6,1.0,0,0.0,1,2015,8,...,0,0,0,-2,0.0,2.0,0.0,3.0,7.0,0.0
328700,2015-08-01,41088,1115,6,1.0,0,0.0,1,2015,8,...,0,0,0,-2,0.0,1.0,0.0,4.0,7.0,0.0
328701,2015-08-01,41088,1115,6,1.0,0,0.0,1,2015,8,...,0,0,0,-2,0.0,1.0,0.0,3.0,7.0,0.0
328702,2015-08-01,41088,1115,6,1.0,0,0.0,1,2015,8,...,0,0,0,-2,0.0,2.0,0.0,4.0,7.0,0.0
328703,2015-08-01,41088,1115,6,1.0,0,0.0,1,2015,8,...,0,0,0,-2,0.0,2.0,0.0,3.0,7.0,0.0

In [ ]:
df.to_feather(f'{PATH}fjoined2')
df_test.to_feather(f'{PATH}fjoined_test2')

In [ ]:
df=pd.read_feather(f'{PATH}fjoined2')
df_test=pd.read_feather(f'{PATH}fjoined2')